<a href="https://colab.research.google.com/github/Shibli-Nomani/datascience/blob/main/prac_1_Word_Vectorization_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import pandas as pd
import numpy as np
path='/content/gdrive/MyDrive/AIQUEST ML Course/NLP_Word Vector & Stem and Lem/data.csv'
df=pd.read_csv(path)
df.head(5)

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [4]:
df.shape

(4, 2)

In [5]:
#target
X = df['test']
y = df['class']

In [6]:
X.shape

(4,)

**Feature Extraction**

**1. Vectorizing Technique (Count Vectorizer)**

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv= CountVectorizer()
X = cv.fit_transform(X)

In [9]:
X.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]])

In [10]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

In [11]:
len(cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

14

**To see the features after Count Vectorization with Index**

In [12]:
pd.DataFrame(X.toarray(), index=df, columns = cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0,0,1,0,0,0,0,0,1,0,0,0,0,0
"(Could you give me an iphone?, 0)",1,0,0,1,1,0,0,1,0,1,0,0,0,1
"(Hello how are you?, 1)",0,1,0,0,0,1,1,0,0,0,0,0,0,1
"(I want to talk you., 1)",0,0,0,0,0,0,0,0,0,0,1,1,1,1

**To see the features after Count Vectorization without index**

In [13]:
pd.DataFrame(X.toarray(), index=df['test'], columns=cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

**2. Vectorizing Technique (TfidfVectorizer)**

In [14]:
df=pd.read_csv(path)
#target
y=df['class']
#feature
X=df['test']

In [36]:
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()

In [16]:
X= tf.fit_transform(X)

In [17]:
X.toarray()

array([[0.        , 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.43003652, 0.        , 0.        , 0.43003652, 0.43003652,
        0.        , 0.        , 0.43003652, 0.        , 0.43003652,
        0.        , 0.        , 0.        , 0.27448674],
       [0.        , 0.5417361 , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.34578314],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5417361 , 0.5417361 , 0.5417361 , 0.34578314]])

In [18]:
X.shape

(4, 14)

In [19]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['an',
 'are',
 'bangladesh',
 'could',
 'give',
 'hello',
 'how',
 'iphone',
 'love',
 'me',
 'talk',
 'to',
 'want',
 'you']

**To see the features after TfidVectorization with index**

In [20]:
pd.DataFrame(X.toarray(), index=df, columns= cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
"(I love Bangladesh, 1)",0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
"(Could you give me an iphone?, 0)",0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
"(Hello how are you?, 1)",0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
"(I want to talk you., 1)",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

**To see the features after TfidVectorization without index**

In [24]:
pd.DataFrame(X.toarray(), index=df['test'], columns=cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

**3. Vectorizing Technique (word2vec)**

In [25]:
from gensim.models import Word2Vec, KeyedVectors

In [26]:
import nltk

In [28]:
df=pd.read_csv(path)
#target
y=df['class']
#feature
X=df['test']

In [37]:
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

In [31]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [32]:
tokenize_text=[nltk.word_tokenize(test) for test in X]

In [33]:
model = Word2Vec(tokenize_text , min_count=1)

In [34]:
model.wv.most_similar('you')

[('I', 0.1536710560321808),
 ('to', 0.13486690819263458),
 ('want', 0.08877701312303543),
 ('an', 0.03526129946112633),
 ('talk', 0.01731661893427372),
 ('?', 0.014335628598928452),
 ('are', 0.013890333473682404),
 ('iphone', -0.023050539195537567),
 ('Hello', -0.03860017657279968),
 ('give', -0.06994365900754929)]